In [97]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import re
import time
import pandas as pd

In [109]:
executable_path = {'executable_path': r'C:\Users\smith\Downloads\chromedriver_win32\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

Acessing the NASA Mars News site

In [78]:
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [79]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

Getting the title of the first headline from the NASA Mars News site

In [80]:
news_title = soup.select_one('ul.item_list li.slide div.content_title').text
news_title

'AI Is Helping Scientists Discover Fresh Craters on Mars'

Getting the text of the first headline from the NASA Mars News site

In [81]:
news_text = soup.select_one('div.article_teaser_body').text
news_text

"It's the first time machine learning has been used to find previously unknown craters on the Red Planet."

Accessing the site for the Mars Space Images

In [82]:

space_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(space_url)
html_space = browser.html
soup_space = BeautifulSoup(html_space, 'html.parser')

In [83]:
featured_image_url_path = soup_space.find('article', class_='carousel_item').get('style')

In [84]:
# split string into list by ' and return position [1] from list
print(featured_image_url_path)

background-image: url('/spaceimages/images/wallpaper/PIA16726-1920x1200.jpg');

In [85]:
featured_image_url_split = featured_image_url_path.split("'")

In [86]:
featured_image_url_split

['background-image: url(',
 '/spaceimages/images/wallpaper/PIA16726-1920x1200.jpg',
 ');']

In [87]:
featured_image_url = featured_image_url_split[1]
featured_image_url

'/spaceimages/images/wallpaper/PIA16726-1920x1200.jpg'

Accessing the Mars Weather twitter account to get the current weather

In [88]:
url_weather = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_weather)
time.sleep(5)
html_weather = browser.html
soup_weather = BeautifulSoup(html_weather, 'html.parser')

In [89]:
mars_weather = soup_weather.find_all('span', text=re.compile(r'sol'))
tweet = mars_weather[0].text

In [90]:
tweet

'InSight sol 659 (2020-10-03) low -96.5ºC (-141.7ºF) high -10.8ºC (12.5ºF)\nwinds from the WNW at 5.1 m/s (11.5 mph) gusting to 16.2 m/s (36.3 mph)\npressure at 7.60 hPa'

Accessing the Mars facts page to obtain facts about the planet

In [91]:
url_facts = 'https://space-facts.com/mars/'
browser.visit(url_facts)
time.sleep(5)
tables = pd.read_html(url_facts)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [93]:
html_table = tables[0].to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Get the images of the four hemispheres

In [110]:
url_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemi)
time.sleep(5)

In [113]:
hemi_list = browser.links.find_by_partial_text('Hemisphere')
img = []
for i in range(4):
    browser.links.find_by_partial_text('Hemisphere')[i].click()
    html_hemi = browser.html
    soup_hemi = BeautifulSoup(html_hemi, 'html.parser')
    hemi_link = soup_hemi.find('a', text='Sample')
    img.append(hemi_link.get('href'))
    browser.back()
    time.sleep(5)

In [114]:
img

['https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']